body {
    font-family: "Rubik", sans-serif;
    background-color: #f7f8f9;
}

html{
    scroll-behavior: smooth;
}

button:focus {
    outline: none;
}

a:hover {
    text-decoration: none;
}
 
.pulse:hover {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}


/* ini: Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 1999;
}

#preloader .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pulsex {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

.pulseIcon:hover {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}


/* end: Preloader */

/* Geral */

h1.title{
    color: #061539;
    font-size: 46px;
    margin: 0 auto;
    font-weight: 600;
    margin-bottom: 3rem;
}

h1.title::after{
    content: '';
    display: block;
    background: #061539;
    width: 100px;
    height: 5px;
    position: relative;
    left: 20px;
}

nav.breadcrumbs ol{
    display: flex;
    font-size: 14px;
    list-style: none;
    padding-left: 0;
    color:#6c757d;
}

nav.breadcrumbs ol li a{
    color:#6c757d!important;
}

nav.breadcrumbs ol li::before{
    content: "•";
    font-size: 16px;
    padding: 0 6px;
    font-weight: bold;
    position: relative;
    top: 1px;
}

nav.breadcrumbs ol li:first-child::before{
    opacity: 0;
    width: 0;
    padding: 0;
}

.property-tags .tag{
    color: #fff;
    font-size: 12px;
    background:#020f2e;
    border-radius: 3px;
    padding: 5px 10px;
}

/* header */

header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
}

header .info{
    padding: 7px 0;
}

header .info a{
    color: #fff!important;
    font-size: 13px;
    padding: 0 .6rem;
}

header .info a svg{
    margin-right: 6px;
}

header .navbar{
    background: #061539;
    border-radius: 5px;
    padding: 5px 0px 5px 10px;
    height: 80px;
}

header .navbar-brand{
    margin-right: 3rem;
}

header .navbar-brand img{
    width: 100%;
    max-height: 45px;
}

header .navbar-nav .nav-item .nav-link{
    font-size: 16px;
    color: white;
    font-weight: 500;
    padding: 0 0.8rem;
    transition: .4s;
}

header .navbar-nav .nav-item .nav-link:hover{
    color: #ff9900;
}

header .nav-right-part-desktop{
    display: flex;
    align-items: center;
}

header .nav-right-part-desktop .search-btn{
    margin-right: 60px;
}

header .nav-right-part-desktop .search-btn svg path{
    fill: #fff;
}

header .nav-right-part-desktop .anunciar-btn{
    background-color: #ff9900;
    height: 80px;
    padding: 0 50px;
    display: flex;
    align-items: center; 
    position: relative;
    transition: .5s;
}

header .nav-right-part-desktop .anunciar-btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(255 129 0);
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-duration: 0.4s;
    z-index: 1;
}

header .nav-right-part-desktop .anunciar-btn:hover::before{
    transform: scaleX(1);
}

header .nav-right-part-desktop .anunciar-btn span{
    color: #061539;
    font-size: 18px;
    font-weight: 600;
    z-index: 2;
}


header .nav-right-part-desktop .anunciar-btn .btn-icon{
    background: #061539;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    left: -27px;
    z-index: 2;
    top: 50%;
    margin-top: -23px;
    display: flex;
    transition: .4s;
}

header .nav-right-part-desktop .anunciar-btn .btn-icon svg{
    background: #ff9900;
    height: 35px;
    width: 35px;
    padding: 9px;
    border-radius: 7px;
    fill: #fff;
}

header .nav-right-part-desktop .anunciar-btn .btn-icon svg path{
    fill: #061539;
}

header.interna{
    background: #061539;
    position: relative;
}

header.interna .navbar{
    margin: 0 auto;
}

header.interna .info{
    display: none!important;
}

/* Banner */

@keyframes scale {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100% {
        transform: scale(1.15);
        opacity: 0;
      }
  }



section.banner{
    width: 100%;
    min-height: 100vh;
    padding: 300px 0 150px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: #061539;
}

section.banner .owl-stage-outer::before{
    content: '';
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #020f2e;
    opacity: .8;
    position: absolute;
    z-index: 1;
}

section.banner #owl-banner{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 0;
}

section.banner #owl-banner .owl-dots{
    position: relative;
    top: -70px;
    z-index: 10;
}

section.banner #owl-banner .owl-dots span{
    width: 14px!important;
    height: 14px!important;
    background-color: #fff;
    transition: .8s;
}

section.banner #owl-banner .owl-dots .active span{
    width: 25px!important;
}

section.banner #owl-banner img{
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
    max-height: 100vh;
    object-position: center;
}

section.banner #owl-banner .active img{
    animation: scale 8s;
}

section.banner .banner-slogan p{
    color: #fff;
}

section.banner .banner-slogan h1{
    font-size: 60px;
    color: #fff;
    font-weight: 700;
}

section.banner .banner-slogan .line {
    background: #fff;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: relative;
    margin: 20px auto;
}

section.banner .banner-slogan .line:before {
    content: "";
    position: absolute;
    height: 3px;
    width: 110px;
    left: -125px;
    top: 3px;
    background: #fff;
}

section.banner .banner-slogan .line:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 110px;
    right: -125px;
    top: 3px;
    background: #fff;
}

section.banner .banner-form .col{
    padding: 5px;
}

section.banner .banner-form select{
    width: 100%;
    border: 0;
    height: 50px;
    line-height: 50px;
    border-radius: 5px !important;
    padding: 0 15px;
    color: #9c9da0;
    font-size: 16px;
}

section.banner .banner-form button.btn{
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    padding: 0 35px;
    overflow: hidden;
    position: relative;
    border: 0;
    transition: all 0.5s ease;
    font-size: 15px;
    display: inline-block;
    transform: perspective(1px) translateZ(0);
    color:#030f2c;
    border: 0;
    background: #ff9900;
    transition: .4s;
    font-weight: 500;
}

section.banner .banner-form button.btn svg{
    font-size: 14px;
    margin-top: -2px;
    margin-right: 5px;
}

/* IMOVEIS CARDS */

section.imoveis{
    padding: 4rem 0;
}

section.imoveis .imovel {
    width: 100%;
    height: 360px;
    transition: .4s;
    position: relative;
    overflow: hidden;
    padding: 10px;
    border-radius: 5px;
}

section.imoveis .imovel:after {
    content: "";
    position: absolute;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.72) 52%, rgba(0, 0, 0, 0));
    height: 100%;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    z-index: 0;
    transition: .6s;
}

section.imoveis .imovel img.img-bg{
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 360px;
    object-fit: cover;
    transition: 1.5s;
}

section.imoveis .imovel .content{
    width: 100%;
    z-index: 3;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 20px;
    align-items: center;
    transition: .6s;
}

section.imoveis .imovel .content .state{
    color: white;
    background: #061e6ad9;
    width: 60%;
    position: absolute;
    top: 0;
    border-radius: 0 0 10px 10px;
    height: 40px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.imoveis .imovel .content .details{
    display: flex;
    width: 100%;
    padding: 5px 0;
}

section.imoveis .imovel .content .details img.owner{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

section.imoveis .imovel .content .details h3{
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    margin-top: 3px;
}

section.imoveis .imovel .content .details svg.acess-btn{
    margin-left: auto;
    color: white;
    font-size: 24px;
    margin-top: 5px;
}

section.imoveis .imovel .content .details ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    float: right;
    margin-left: auto;
    color: #fff;
}

section.imoveis .imovel .content .details ul li{
    padding: 0 9px;
}

section.imoveis .imovel .content .details ul li svg{
    margin-right: 6px;
}

section.imoveis .imovel:hover img.img-bg{
    transform: scale(1.1);
}

section.imoveis .imovel:hover .content{
    opacity: 0;
}

section.imoveis .imovel:hover::after{
    opacity: .3;
}

/* IMOVEL INTERNA */

section.imovel{
    padding: 2rem 0;
}

section.imovel .page-header{
    padding-bottom: 1rem;
}

section.imovel .page-header h1.imovel-title{
    font-size: 32px;
    margin-bottom: 10px;
}

section.imovel .page-header p.localization{
    font-size: 16px;
    margin-top: 10px;
}


section.imovel .main section{
    background-color: #fff;
    margin: 2rem 0;
    padding: 2.5rem;
    border-radius: 2px;
}

section.imovel .main section .block-header{
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #dce0e0;
}

section.imovel .main section .block-header h3{
    font-size: 24px;
    color: #020f2e;
    font-weight: 600;
}

section.imovel .main section .block-content{
}

section.imovel .sidebar .contact-bar{
    background: #fff;
    padding: 1rem;
    border-radius: 5px;
}

section.imovel .sidebar .contact-bar .corretor{
    display: flex;
}

section.imovel .sidebar .contact-bar .corretor img{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

section.imovel .sidebar .contact-bar .corretor h3{
    font-size: 22px;
    margin-bottom: 5px;
}

section.imovel .sidebar .contact-bar .corretor a{
    font-size: 14px;
    color: #737373;
    font-weight: 500;
}

/* Footer */

footer{
    padding: 7rem 0 2rem;
    height: 470px;
    clip-path: ellipse(150% 100% at 50% 100%);
    position: relative;
    background: #090909;
    color: #fff;
    overflow: hidden;
}

footer .info{
    position: relative;
    z-index: 2;
}

footer .info ul.social{
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-top: 3rem;
}

footer .info ul.social li{
    margin: 15px;
    transition: .4s;
}

footer .info ul.social li:hover{
    transform: scale(1.3);
}

footer .info p{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 6px;
}

footer .info small{
    font-size: 16px;
}

/* ANIMAÇÃO DAS ONDAS DO FOOTER */

footer .ocean { 
  height: 225px;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  overflow: hidden;
  filter: grayscale(1);
  transform: scale(1.4);
  opacity: .5;
}

footer .wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  width: 6400px;
  height: 198px;
  animation: wave 30s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite,swell 7s ease -1.25s infinite;
  transform: translate3d(0, 0, 0);
}

footer .wave:nth-child(2) {
  animation: wave 30s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -15s infinite, swell 12s ease -7.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,30px,0);
  }
  50% {
    transform: translate3d(0,0,0);
  }
}

