body {
    font-family: "Rubik", sans-serif;
    background-color: #f7f8f9;
}

:root{
    --orange: #ff7c00;
    --dark-blue: #061539;
    --light-grey: #6c757d;
    --grey: #666666;
    --dark-grey: #222222;
    --white: #fff;
    --black: #000;

}

button:focus {
    outline: none;
}

a:hover {
    text-decoration: none;
}
 
.pulse:hover {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}


/* ini: Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #061539;
    z-index: 1999;
}

#preloader .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#preloader img{
    width: 200px;
}

.pulsex {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

.pulseIcon:hover {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}


/* end: Preloader */

/* Geral */

h1.title{
    color: #061539;
    font-size: 46px;
    margin: 0 auto;
    font-weight: 600;
    margin-bottom: 4rem;
}

h1.title.white{
    color: #fff;
}

h1.title::after{
    content: '';
    display: block;
    background: #061539;
    width: 100px;
    height: 5px;
    position: relative;
    left: 20px;
}

h1.title.white::after{
    background-color: #fff;
}

.btn-ver-mais{
    background: #061539;
    color: white;
    font-size: 18px;
    padding: 8px 30px;
    border-radius: 10px;
    transition: .4s;
    display: table;
    margin: 10px auto 20px;
    min-width: 200px;
    font-weight: 500;
    border: 3px solid #061539;
}

.btn-ver-mais:hover{
    color: #061539;
    background: transparent;
}

.owl-theme .owl-dots .owl-dot span{
    background-color: transparent!important;
    width: 14px!important;
    height: 14px!important;
    margin: 20px 3px 30px!important;
    transition: .2s!important;
    border: 2px solid #061539;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background-color: #061539!important;
    width: 20px!important;
}

nav.breadcrumbs ol{
    display: flex;
    font-size: 14px;
    list-style: none;
    padding-left: 0;
    color:#6c757d;
    margin: 2rem 0 1rem;
}

nav.breadcrumbs ol li a{
    color:#6c757d!important;
}

nav.breadcrumbs ol li::before{
    content: "•";
    font-size: 16px;
    padding: 0 6px;
    font-weight: bold;
    position: relative;
    top: 1px;
}

nav.breadcrumbs ol li:first-child::before{
    opacity: 0;
    width: 0;
    padding: 0;
}

.property-tags .tag{
    color: #fff;
    font-size: 12px;
    background:#020f2e;
    border-radius: 3px;
    padding: 5px 10px;
}

/* NAVS */

.owl-carousel .owl-nav button{
    position: absolute;
    top: 35%;
    background: transparent!important;
    font-size: 32px!important;
    color: #061539!important;
    transition: .2s;
}

.owl-carousel .owl-nav button:hover{
    color: #ff5e00;
}

.owl-carousel .owl-nav button.owl-prev{
    left: -50px;
}

.owl-carousel .owl-nav button.owl-next{
    right: -50px;
}

.owl-carousel .owl-nav .disabled{
    opacity: 0!important;
}

/* header */

header.main{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
}

header.main .info{
    padding: 7px 0;
}

header.main .info a{
    color: #fff!important;
    font-size: 13px;
    padding: 0 .6rem;
}

header.main .info a svg{
    margin-right: 6px;
}

header.main .navbar{
    background: #061539;
    border-radius: 5px;
    padding: 5px 0px 5px 10px;
    height: 80px;
}

header.main .navbar-brand{
    margin-right: 3rem;
}

header.main .navbar-brand img{
    width: 100%;
    max-height: 45px;
}

header.main .navbar-nav .nav-item{
    padding-right: 1rem;
    padding-left: 0.5rem;
    position: relative;
    display: flex;
}

header.main .navbar-nav .nav-item .nav-link{
    font-size: 16px;
    color: white;
    font-weight: 500;
    transition: .4s;
    padding: 4px;
}

header.main .navbar-nav .nav-item .nav-link:hover{
    color: #ff9900;
}

header.main .navbar-nav .nav-item span.qntd-selected {
    background: orange;
    width: 17px;
    height: 17px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #061539;
    font-weight: bold;
    font-size: 13px;
    cursor: default;
    position: absolute;
    right: 0;
}

header.main .nav-right-part-desktop{
    display: flex;
    align-items: center;
}

header.main .nav-right-part-desktop .search-btn{
    margin-right: 60px;
}

header.main .nav-right-part-desktop .search-btn svg path{
    fill: #fff;
}

header.main .nav-right-part-desktop .anunciar-btn{
    background-color: #ff9900;
    height: 80px;
    padding: 0 50px;
    display: flex;
    align-items: center; 
    position: relative;
    transition: .5s;
}

header.main .nav-right-part-desktop .anunciar-btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(255 129 0);
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-duration: 0.4s;
    z-index: 1;
}

header.main .nav-right-part-desktop .anunciar-btn:hover::before{
    transform: scaleX(1);
}

header.main .nav-right-part-desktop .anunciar-btn span{
    color: #061539;
    font-size: 18px;
    font-weight: 600;
    z-index: 2;
}


header.main .nav-right-part-desktop .anunciar-btn .btn-icon{
    background: #061539;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    left: -27px;
    z-index: 2;
    top: 50%;
    margin-top: -23px;
    display: flex;
    transition: .4s;
}

header.main .nav-right-part-desktop .anunciar-btn .btn-icon svg{
    background: #ff9900;
    height: 35px;
    width: 35px;
    padding: 9px;
    border-radius: 7px;
    fill: #fff;
}

header.main .nav-right-part-desktop .anunciar-btn .btn-icon svg path{
    fill: #061539;
}

header.main.interna{
    background: #061539;
    position: relative;
}

header.main.interna .navbar{
    margin: 0 auto;
}

header.main.interna .info{
    display: none!important;
}

/* Banner */

@keyframes scale {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100% {
        transform: scale(1.15);
        opacity: 0;
      }
  }



section.banner{
    width: 100%;
    min-height: 920px;
    height: 100vh;
    padding: 300px 0 150px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: #061539;
}

section.banner .owl-stage-outer::before{
    content: '';
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #020f2e;
    opacity: .8;
    position: absolute;
    z-index: 1;
}

section.banner #owl-banner{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    z-index: 0;
}

section.banner #owl-banner .owl-dots{
    position: relative;
    top: -70px;
    z-index: 10;
}

section.banner #owl-banner .owl-dots span{
    background-color: #fff!important;
    transition: .8s!important;
    border: 0!important;
}

section.banner #owl-banner .owl-dots .active span{
    width: 25px!important;
}

section.banner #owl-banner img{
    width: 100%;
    height: 100vh;
    min-height: 920px;
    object-fit: cover;
    object-position: center;
}

section.banner #owl-banner .active img{
    animation: scale 8s;
}

section.banner .banner-slogan p{
    color: #fff;
}

section.banner .banner-slogan h1{
    font-size: 60px;
    color: #fff;
    font-weight: 700;
}

section.banner .banner-slogan .line {
    background: #fff;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: relative;
    margin: 20px auto;
}

section.banner .banner-slogan .line:before {
    content: "";
    position: absolute;
    height: 3px;
    width: 110px;
    left: -125px;
    top: 3px;
    background: #fff;
}

section.banner .banner-slogan .line:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 110px;
    right: -125px;
    top: 3px;
    background: #fff;
}

section.banner .banner-form .col{
    padding: 5px;
}

section.banner .banner-form select{
    width: 100%;
    border: 0;
    height: 50px;
    line-height: 50px;
    border-radius: 5px !important;
    padding: 0 15px;
    color: #9c9da0;
    font-size: 16px;
}

section.banner .banner-form button.btn{
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    padding: 0 35px;
    overflow: hidden;
    position: relative;
    border: 0;
    transition: all 0.5s ease;
    font-size: 15px;
    display: inline-block;
    transform: perspective(1px) translateZ(0);
    color:#030f2c;
    border: 0;
    background: #ff9900;
    transition: .4s;
    font-weight: 500;
}

section.banner .banner-form button.btn svg{
    font-size: 14px;
    margin-top: -2px;
    margin-right: 5px;
}

/* IMOVEIS CARDS */

section.imoveis.destaque{
    padding: 4rem 0;
}

section.imoveis.destaque .imovel {
    width: 100%;
    height: 360px;
    transition: .4s;
    position: relative;
    overflow: hidden;
    padding: 10px;
    border-radius: 5px;
}

section.imoveis.destaque .imovel:after {
    content: "";
    position: absolute;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.72) 52%, rgba(0, 0, 0, 0));
    height: 100%;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    z-index: 0;
    transition: .6s;
}

section.imoveis.destaque .imovel img.img-bg{
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 360px;
    object-fit: cover;
    transition: 1.5s;
}

section.imoveis.destaque .imovel .content{
    width: 100%;
    z-index: 3;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 20px;
    align-items: center;
    transition: .6s;
}

section.imoveis.destaque .imovel .content .state{
    color: white;
    background: #061539d4   ;
    width: 60%;
    position: absolute;
    top: 0;
    border-radius: 0 0 10px 10px;
    height: 40px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.imoveis.destaque .imovel .content .details{
    display: flex;
    width: 100%;
    padding: 5px 0;
}

section.imoveis.destaque .imovel .content .details img.owner{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

section.imoveis.destaque .imovel .content .details h2{
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    margin-top: 3px;
}

section.imoveis.destaque .imovel .content .details h3{
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    margin-top: 3px;
}

section.imoveis.destaque .imovel .content .details h4{
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    margin-top: 3px;
}

section.imoveis.destaque .imovel .content .details svg.acess-btn{
    margin-left: auto;
    color: white;
    font-size: 24px;
    margin-top: 5px;
}

section.imoveis.destaque .imovel .content .details ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    float: right;
    margin-left: auto;
    color: #fff;
}

section.imoveis.destaque .imovel .content .details ul li{
    padding: 0 9px;
}

section.imoveis.destaque .imovel .content .details ul li svg{
    margin-right: 6px;
}

section.imoveis.destaque .imovel:hover img.img-bg{
    transform: scale(1.1);
}

section.imoveis.destaque .imovel:hover .content{
    opacity: 0;
}

section.imoveis.destaque .imovel:hover::after{
    opacity: .3;
}

/* IMOVEIS */

.owl-carousel.owl-imoveis .owl-item{
    padding: 12px;
}

section.imoveis.aluguel,
section.imoveis.venda{
    background: #f7f8f9;
    padding: 2rem 4rem 0;
}

section.imoveis.aluguel h2,
section.imoveis.venda h2{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    color: #222222;
}

section.imoveis.aluguel .container-fluid .row,
section.imoveis.venda .container-fluid .row{
    max-width: 1920px;
    margin: auto;
}

section.imoveis .imovel-item{
    position: relative;
    overflow: hidden;
    transition: .4s;
    background: #fff;
    border: 0;
    box-shadow: 0 0 12px #00000029;
    border-radius: 5px;
}

section.imoveis .imovel-item .header{
    position: relative;
}

section.imoveis .imovel-item .header::before{
    content: "";
    position: absolute;
    width: 100%;
    background: linear-gradient(to top, rgb(0 0 0 / 58%) 0%, rgba(0, 0, 0, 0));
    height: 60%;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    z-index: 0;
    transition: .6s;
}

section.imoveis .imovel-item .header img{
    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: center;
}

section.imoveis .imovel-item .header .property-tags{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    padding: 8px 5px;
    width: 100%;
}

section.imoveis .imovel-item .header .property-tags .tag{
    font-size: 10px;
    text-transform: uppercase;
    padding: 2px 4px;
    margin: 0 4px;
    background-color: #020f2ec9;
}

section.imoveis .imovel-item:hover .header::before{
    opacity: 0;
}

section.imoveis .imovel-item .content{
    padding: 1rem;
    color: #636363;
    display: flex;
    flex-direction: column;
}

section.imoveis .imovel-item .content h3{
    color: #222222;
    font-size: 16px;
    margin-bottom: 4px;
}

section.imoveis .imovel-item .content p.adress{
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: 36px;
    margin-bottom: 10px;
}

section.imoveis .imovel-item .content ul{
    padding-left: 0;
    display: flex;
    list-style: none;
    margin-bottom: 5px;
}

section.imoveis .imovel-item .content ul li{
    margin-right: 10px;
    font-size: 13px;
}

section.imoveis .imovel-item .content ul li svg{
    margin-right: 2px;
}

section.imoveis .imovel-item .content p.price{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 5px;
    color: #222222;
}

section.imoveis .imovel-item .content button{
    border: 0;
    background: #020f2e;
    color: #fff;
    margin-left: auto;
    padding: 4px 8px;
    border-radius: 5px;
    display: block;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    font-size: 14px;
    transition: .4s;
}

section.imoveis .imovel-item .content button:hover{
    background-color: #ff9900;
}

/* CORRETORES */

section.corretores{
    background: url(../img/corretor-bg.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 4rem 0 6rem;
}

section.corretores .owl-carousel .owl-stage-outer{
    padding-top: 120px;
    padding-bottom: 20px;
}

section.corretores .owl-carousel .item{
    background-color: #fff;
    padding: 25px;
    border-radius: 5px;
    padding-top: 160px;
    transition: .4s;
}

section.corretores .owl-carousel .item:hover{
    transform: scale(1.1);
}

section.corretores .owl-carousel .item .header {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-80px);
}

section.corretores .owl-carousel .item .header img{
    width: 160px;
    height: 160px;
    margin: 0 auto;
    border: 5px solid #fff;
    border-radius: 50%;
}

section.corretores .owl-carousel .item .header h2{
    text-align: center;
    font-size: 26px;
    margin-top: 10px;
    color:#061539;
    font-weight: 600;
    margin-bottom: 0;
}

section.corretores .owl-carousel .item .header h3{
    text-align: center;
    font-size: 16px;
    color: #ff5e00;
}

section.corretores .owl-carousel .item .content .social{
    display: flex;
    justify-content: center;
}

section.corretores .owl-carousel .item .content .social a{
    color:#fff;
    margin: 5px;
    border-radius: 50%;
    border: 2px solid #061539;
    background-color: #061539;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
}

section.corretores .owl-carousel .item .content .social a svg{
    width: 16px;
    height: 16px;
    object-fit: contain;
}

section.corretores .owl-carousel .item .content a.see-more{
    display: block;
    text-align: right;
    font-size: 14px;
    font-weight: 500;
    color: #3e3e3e;
    margin-top: 12px;
}

section.procurar-corretor{
    margin-top: -100px;
    margin-bottom: 2rem;
}

section.procurar-corretor .content{
    background-color: #061539;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 5px 10px 2px #0000007a;
    flex-direction: column;
}

/*
 BUSCAR --------- BUSCAR --------- BUSCAR --------- BUSCAR --------- BUSCAR
 BUSCAR --------- BUSCAR --------- BUSCAR --------- BUSCAR --------- BUSCAR
 BUSCAR --------- BUSCAR --------- BUSCAR --------- BUSCAR --------- BUSCAR
*/

section.buscar{
    padding-bottom: 3rem;
}

section.buscar .container{
    width: 100%;
    max-width: 1360px;
    padding: 0 25px;
}

section.buscar .imovel-item .header img{
    height: 210px;
}

section.buscar .imovel-item .header .property-tags .tag{
    font-size: 9px;
    margin: 0 2px;
}


/*
 INTERNAS --------- INTERNAS --------- INTERNAS --------- INTERNAS --------- INTERNAS
 INTERNAS --------- INTERNAS --------- INTERNAS --------- INTERNAS --------- INTERNAS
 INTERNAS --------- INTERNAS --------- INTERNAS --------- INTERNAS --------- INTERNAS
*/

/* IMOVEL INTERNA */

header.imovel{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0px 0px 6px #00000042;
    z-index: 10;
    opacity: 0;
    transition: .4s;
    pointer-events: none;
    cursor: default;
}

header.imovel.visible{
    opacity: 1!important;
    pointer-events: all;
    cursor: auto;
}

header.imovel .navbar ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    margin-bottom: 0;
}

header.imovel .navbar ul li a{
    color: #444444;
    font-size: 14px;
    font-weight: 500;
    display: block;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    border-bottom: 3px solid transparent;
    transition: .4s;
}

header.imovel .navbar ul li a.active,
header.imovel .navbar ul li a:hover{
    border-bottom-color: #444444 ;
}


section.imovel .page-header{
    padding-bottom: 1rem;
}

section.imovel .page-header h1.imovel-title{
    font-size: 32px;
    margin-bottom: 10px;
}

section.imovel .page-header p.localization{
    font-size: 16px;
    margin-top: 10px;
}


section.imovel .main section{
    background-color: #fff;
    margin: 2rem 0;
    padding: 2.5rem;
    border-radius: 2px;
}

section.imovel .main section .block-header{
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #dce0e0;
}

section.imovel .main section .block-header h3{
    font-size: 24px;
    color: #020f2e;
    font-weight: 600;
}

section.imovel .main section#ficha .block-content ul.items{
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    list-style: none;
    padding: 0 15px;
}

section.imovel .main section#ficha .block-content ul.items li{
    padding: 15px 8px;
    border-bottom: 1px solid #21252945;
    display: flex;
    justify-content: space-between;
}

section.imovel .main section#facilidades  .block-content ul.items{
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3;
    list-style: none;
    padding: 0 15px;
    vertical-align: top;
}

section.imovel .main section#facilidades  .block-content ul.items li{
    color: #666666;
    padding: 8px 0;
    display: inline-block;
    width: 100%;
    font-size: 16px;
}

section.imovel .main section#facilidades  .block-content ul.items li svg{
    margin-right: 5px;
}


section.imovel .sidebar .contact-bar{
    background: #fff;
    padding: 1rem;
    border-radius: 5px;
    width: 320px;
    position: fixed;
    top: 290px;
}

section.imovel .sidebar .contact-bar .corretor{
    display: flex;
}

section.imovel .sidebar .contact-bar .corretor img{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

section.imovel .sidebar .contact-bar .corretor h3{
    font-size: 22px;
    margin-bottom: 5px;
}

section.imovel .sidebar .contact-bar .corretor a{
    font-size: 14px;
    color: #737373;
    font-weight: 500;
}

section.imovel .sidebar .contact-bar form.contact-form .form-group{
    margin-bottom: .7rem;
}

section.imovel .sidebar .contact-bar form.contact-form button,
section.imovel .sidebar .contact-bar .social-buttons a{
    width: 100%;
    background: #061539;
    padding: 10px;
    color: #fff;
    font-weight: 500;
    transition: .4s;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
    transition: .4s;
}

section.imovel .sidebar .contact-bar form.contact-form button:hover,
section.imovel .sidebar .contact-bar .social-buttons a:hover{
    background-color: #ff9900;
}

/* Footer */

footer .social{
    background-color: #061539;
    color: #fff;
}

footer .social ul{
    padding: 0;
    list-style: none;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #ffffff21;
    padding: 2.5rem 0;
    margin-bottom: 0;
}

footer .social ul li{
    margin: 0 1.5rem;
}

footer .social ul li svg{
    height: 35px;
    width: 35px;
    object-fit: contain;
}

footer .info{
    padding: 2rem 0;
    background-color: #061539;
    color: #fff;
}

footer .copyright{
    background-color: #ff9900;
    color: #061539;
    text-align: center;
    padding: 1.5rem 0;
    font-size: 16px;
    font-weight: 500;
}











.slider{
    height: 130px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.slider-wrapper {
    width: 100%;
    display: inline-block;
    position: relative;
    font-family: arial;
}
.ui-slider {
    background: #efefef;
    border: 1px solid #d2d2d2;
    height: 20px;
    position: relative;
    border-radius: 100px;
}
.ui-slider-range {
    background: #71c0ff;
    height: 20px;
    position: absolute;
    border-top: 1px solid #5d99c8;
    border-bottom: 1px solid #5d99c8;
    transform: translateY(-1px);
}
.ui-slider-range:after {
    content: '';
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
}
.ui-slider-handle {
    background: #555;
    position: absolute;
    width: 32px;
    height: 32px;
    top: 50%;
    display: block;
    transform: translate(-50%, -50%);
    border-radius: 100px;
    z-index: 10;
    background: linear-gradient(#555, #454545);
    cursor: move;
   /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    box-shadow: inset -2px -2px 6px 2px rgba(0, 0, 0, 0.1);
    transition: width 0.1s;
}
.ui-slider-handle:focus {
    outline: none;
}
.ui-slider-handle:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.ui-state-active {
    width: 22px;
}
.range-wrapper {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}
.range {
    background: #fff;
    white-space: nowrap;
    border: 1px solid #d2d2d2;
    border-radius: 2px;
    font-size: 13px;
    letter-spacing: 0.02em;
    color: #555;
    width: 150px;
    z-index: 10;
    position: relative;
}
.range:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-left: 67px solid transparent;
    border-right: 67px solid transparent;
    border-top: 6px solid #d2d2d2;
}
.range-value {
    width: 74px;
    padding: 8px 0;
    text-align: center;
    display: inline-block;
    transition: background 0.1s;
}
.range-divider {
    width: 1px;
    display: inline-block;
}
.range-divider:after {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background: #d2d2d2;
    content: '';
}
.range-alert {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #fff;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border: 1px solid #d2d2d2;
    color: #0e0e0e;
    line-height: 15px;
    transition: right 0.2s;
}
.range-alert.active {
    right: -15px;
}
.marker {
    position: absolute;
    top: 100%;
    padding-top: 16px;
    font-size: 13px;
    color: #555;
    letter-spacing: 0.05em;
    transform: translateX(-50%);
}
.marker:after {
    content: '';
    width: 1px;
    height: 8px;
    background: #d2d2d2;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.marker-0:after {
    display: none;
}
.marker-25 {
    left: 25%;
}
.marker-50 {
    left: 50%;
}
.marker-75 {
    left: 75%;
}
.marker-100 {
    right: 0;
    transform: translateX(50%);
}
.marker-100:after {
    display: none;
}
.gear-wrapper {
    position: absolute;
    top: -14px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    backface-visibility: hidden;
    width: 150px;
    height: 20px;
    overflow: hidden;
}
.gear-large {
    width: 40px;
    height: 40px;
    background: #d2d2d2;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    left: 18px;
    transform-origin: 50% 50%;
    transition: top 0.15s;
}
.gear-large:after {
    position: absolute;
    content: '';
    width: 28px;
    height: 28px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #e8e8e8;
    border-radius: 100px;
}
.gear-large:nth-child(2) {
    background: #d2d2d2;
    left: auto;
    right: 18px;
}
.gear-large:nth-child(2) .gear-tooth {
    background: #d2d2d2;
}
.gear-large.active {
    top: 4px;
}
.gear-tooth {
    width: 22%;
    height: 114%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 0 0;
    background: #d2d2d2;
    border-radius: 2px;
}
.gear-tooth:nth-child(2) {
    transform: rotate(90deg) translate(-50%, -50%);
}
.gear-tooth:nth-child(3) {
    transform: rotate(45deg) translate(-50%, -50%);
}
.gear-tooth:nth-child(4) {
    transform: rotate(-45deg) translate(-40%, -50%);
}
