{% include 'components/head.html' %}
{% include 'components/header.html' %}

<section class="buscar">
    <div class="container">
        <div class="row">
            <div class="col-12 page-header">
                <nav class="breadcrumbs">
                    <ol>
                        <li><a href="/index">Home</a></li>
                        <li><a href="/index">Buscar</a></li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                {% include 'components/search_bar.html' %}
            </div>
            <div class="col-9">
                <div class="row imoveis-list">
                    {% for x in range(6) %}
                    <div class="imovel2 col-4">
                        <div class="header">
                            <div class="property-tags">
                                <span class="tag">Propietário</span>
                                <span class="tag">Pronto para morar</span>
                                <span class="tag">Apartamento</span>
                            </div>
                            <img class="w-100" src="../static/img/casa-ex.jpg">
                        </div>
                        <div class="content">
                            <h3>APTO Belo Oceano</h3>
                            <p>Rua Florença, 001, Ponta Negra - Condominio Residencial Belo Oceano</p>
                            <ul>
                                <li><i class="fas fa-bed-alt"></i>3</li>
                                <li><i class="fas fa-shower"></i>4</li>
                                <li><i class="fas fa-car"></i>2</li>
                                <li><i class="fas fa-pencil-ruler"></i>185 m²</li>
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
    </div>
</section>



{% include 'components/footer.html' %}