{% include 'components/head.html' %}
{% include 'components/header.html' %}

<section class="imoveis comparar">
    <div class="container">
        <div class="row">
            <div class="col-12 page-header">
                <nav class="breadcrumbs">
                    <ol>
                        <li><a href="/index">Home</a></li>
                        <li><a href="/index">Comparar</a></li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-12">

            </div>
        </div>
    </div>
</section>

{% include 'components/footer.html' %}