{% include 'components/head.html' %}
{% include 'components/header.html' %}

<section class="imoveis favoritos">
    <div class="container">
        <div class="row">
            <div class="col-12 page-header">
                <nav class="breadcrumbs">
                    <ol>
                        <li><a href="/index">Home</a></li>
                        <li><a href="/index">Favoritos</a></li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h1 class="title">Favoritos</h1>
            </div>
            <div class="col-12">
                <div class="row imoveis-list">
                    {% for x in range(8) %}
                    <div class="col-4 pb-4">
                        <a href="">
                            <div class="imovel-item card">
                                <div class="header">
                                    <div class="property-tags">
                                        <span class="tag mr-auto">Propietário</span>
                                        <span class="tag">Pronto para morar</span>
                                        <span class="tag">Apartamento</span>
                                    </div>
                                    <img class="w-100" src="../static/img/casa-ex.jpg">
                                </div>
                                <div class="content">
                                    <h3>APTO Belo Oceano</h3>
                                    <p class="adress">Rua Florença, 001, Ponta Negra - Condominio Residencial Belo Oceano</p>
                                    <ul>
                                        <li><i class="fas fa-bed"></i>3</li>
                                        <li><i class="fas fa-shower"></i>4</li>
                                        <li><i class="fas fa-car"></i>2</li>
                                        <li><i class="fas fa-pencil-ruler"></i>185 m²</li>
                                    </ul>
                                    <p class="price">R$ 1.540.000,00</p>
                                    <button class="details-btn" href="">Detalhes</button>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center py-5">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
            </div>
        </div>
        
    </div>
</section>



{% include 'components/footer.html' %}