{% include 'components/head.html' %}
{% include 'components/header.html' %}

<section class="imovel interna">
    <div class="container">
        <div class="row">

            <!-- CABEÇALHO DO IMÓVEL -->
            <div class="col-12 page-header">
                <nav class="breadcrumbs">
                    <ol>
                        <li><a href="/index">Home</a></li>
                        <li><a href="/index">Apartamento</a></li>
                        <li>Design Harmonia em Araraquara</li>
                    </ol>
                </nav>
                <h1 class="imovel-title">
                    Design Harmonia em Araraquara
                </h1>
                <div class="property-tags my-2">
                    <span class="tag">CORRETOR</span>
                    <span class="tag">EM OMBRAS</span>
                    <span class="tag">APARTAMENTO</span>
                </div>
                <p class="localization">
                    <i class="fas fa-map-marker-alt"></i>
                    Av. Orestes Pioreni Gobbo, 152 - Vila Harmonia - 14802-560
                </p>
            </div>

            <!-- CORPO PRINCIPAL DO IMOVEL -->
            <div class="col-9 main">
                <div class="fotorama" data-nav="thumbs" data-allowfullscreen="native" data-thumbwidth="80" data-thumbheight="80" data-autoplay="10000">
                    <img src="https://s.fotorama.io/1.jpg">
                    <img src="https://s.fotorama.io/2.jpg">
                </div>

                <!-- FICHA TECNICA -->
                <section id="ficha">
                    <div class="block-header d-flex justify-content-between">
                        <h3>Ficha Técnica</h3>
                        <span><strong>Código do Imóvel: </strong>CH-HARMONIA</span>
                    </div>
                    <div class="block-content">
                        <div class="d-flex">

                        </div>
                    </div>
                </section>

                <!-- APRESENTAÇÃO -->
                <section id="apresentacao">
                    <div class="block-header">
                        <h3>Apresentação</h3>
                    </div>
                    <div class="block-content">
                        <h5><strong>O primeiro empreendimento de alto padrão da Vila Harmonia em Araraquara.</strong></h5>
                        <br>
                        <p>O projeto surgiu pelas mãos do médico cardiologista Dr. Lineu Biazotti, que sonhava com um condomínio de alto padrão, em uma área de 6 mil m², cercado de sofisticação do interior do apartamento às áreas comuns de lazer e sociais.
                        <br><br>Da arquitetura única à localização privilegiada, dos espaços inteligentes ao lazer completo, da contemporaneidade do estilo ao projeto paisagístico de tirar o fôlego.
                        <br><br>O Design Harmonia tem exclusividade e sofisticação em todos os seus traços, para você e sua família aproveitarem a vida na forma ideal.
                        <br><br>No momento de escolher um novo imóvel, é importante avaliar a segurança e infraestrutura da região, levando em conta o dia a dia e as necessidades da família, explica João Paulo, gerente comercial da Chemin Corp.
                        <br><br>Clique aqui e agende uma visita com nossos especialistas, para você e sua família conhecerem pessoalmente o Design Harmonia.
                        <br><br>Empreendimento em obras, com previsão de entrega para maio de 2022.</p>
                    </div>
                </section>

                <!-- FACILIDADES -->
                <section id="facilidades">
                    <div class="block-header">
                        <h3>Facilidades</h3>
                    </div>
                    <div class="block-content">

                    </div>
                </section>

                <!-- LOCALIZAÇÃO -->
                <section id="localizacao">
                    <div class="block-header d-flex justify-content-between">
                        <h3>Localização</h3>
                    </div>
                    <div class="block-content">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6675.544555689557!2d-35.206309751268655!3d-5.812879914379044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7b2fffa55a2be71%3A0xebf15047f9f8e07c!2sMidway%20Mall!5e0!3m2!1spt-BR!2sbr!4v1641613039517!5m2!1spt-BR!2sbr"
                        width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </section>

                <!-- CONTATO -->
                <section id="contato">
                    <div class="block-header">
                        <h3>Entre em contato</h3>
                    </div>
                    <div class="block-content">

                    </div>
                </section>
            </div>

            <!-- SIDE BAR DE CONTATO -->
            <div class="col-3 sidebar p-0">
                <div class="contact-bar">
                    <div class="corretor">
                        <img src="../static/img/casa-ex.jpg">
                        <div>
                            <h3>Adna</h3>
                            <a href="">Ver imóveis</a>
                        </div>
                    </div>
                    <Form class="contact-form pt-3" method="post">
                        <div class="form-group">
                            <input class="form-control" name="name" value="" type="text" placeholder="Nome">
                        </div>
                        <div class="form-group"> 
                            <input class="form-control" name="mobile" value="" type="text" placeholder="Celular">
                        </div>
                        <div class="form-group"> 
                            <input class="form-control" name="email" value="" type="email" placeholder="E-mail">
                        </div>
                        <div class="form-group form-group-textarea">
                            <textarea class="form-control hz-form-message" name="message" rows="4" placeholder="Mensagem">Olá, tenho interesse no imóvel ...</textarea>
                        </div>
                        <button type="button" class="btn btn-send"> Enviar </button>
                    </Form>
                    <div class="d-flex">
                        <a class="contact-btn" href=""><i class="fas fa-phone-alt"></i>Ligar</a>
                        <a class="contact-btn" href=""><i class="fab fa-whatsapp"></i>WhatsApp</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'components/footer.html' %}