{% include 'components/head.html' %}
{% include 'components/header.html' %}

<section class="banner" id="slogan-banner">
	<div class="owl-carousel owl-theme" id="owl-banner">
		<img src="../static/img/casa1.png">
		<img src="../static/img/casa2.jpg">
		<img src="../static/img/casa3.jpg">
	</div>
	<div class="container">
		<div class="row justify-content-center">
			<div class="banner-slogan col-12 col-md-10 col-lg-9">
				<div class="text-center">
					<h1>Sua busca começa e termina aqui!</h1>
					<div class="line"></div>
					<p>Pesquise aqui o seu imóvel</p>
				</div>
			</div>
			<div class="banner-form col-12 col-lg-9 mt-4">
				<form class="row">
					<div class="col col-12 col-md-3">
						<select>
							<option value="1">Comprar</option>
							<option value="2">Alugar</option>
						</select>
					</div>
					<div class="col col-12 col-md-3">
						<select>
							<option>Bairro</option>
							{% for bairro in bairros %}
							<option value="1">{{ bairro }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col col-12 col-md-3">
						<select>
							<option>Valor</option>
							<option value="1">R$ 100.000 - R$ 200.000</option>
							<option value="1">R$ 200.000 - R$ 300.000</option>
							<option value="1">R$ 400.000 - R$ 500.000</option>
							<option value="1">R$ 600.000 - R$ 700.000</option>
							<option value="1">R$ 800.000 - R$ 900.000</option>
							<option value="1">R$ 1.000.000 - R$ 2.000.000</option>
							<option value="1">R$ 2.000.000 - R$ 3.000.000</option>
							<option value="1">R$ 4.000.000 - R$ 5.000.000</option>
							<option value="1">R$ 5.000.000 +</option>
						</select>
					</div>
					<div class="col col-12 col-md-3">
						<button class="btn btn-base">
							<i class="fa fa-search"></i>
							Pesquisar
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

<section class="imoveis destaque" id="imoveis_destaque">
	<div class="container">
		<h1 class="title">
			Imóveis em destaque
		</h1>
		<div class="row">
			<div class="owl-carousel owl-theme" id="owl-imoveis-destaque">
				{% for imovel in imoveis %}
				<div class="imovel">
					<a href="imovel/{{ imovel['_id'] }}">
						<img class="img-bg" src="../static/img/casa-ex.jpg">
						<div class="content">
							<h2 class="state">Pronto para morar</h2>
							<div class="details">
								<img class="owner" src="../static/img/casa-ex.jpg">
								<div>
									<h2>{{ imovel['titulo'] }}</h2>
									<h4>{{ imovel['bairro'].title() }}</h4>
								</div>
								<i class="acess-btn far fa-arrow-alt-circle-right"></i>
							</div>
							<div class="details">
								<h3 class="price">R$ {{ imovel['valor'] }}</h3>
								<ul>
									<li><i class="fas fa-toilet"></i>{{ imovel['banheiros'] }}</li>
									<li><i class="fas fa-bed"></i>{{ imovel['quartos'] }}</li>
									<li><i class="fas fa-pencil-ruler"></i>{{ imovel['tamanho'] }} m²</li>
								</ul>
							</div>
						</div>
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
		<a href="" class="btn btn-ver-mais">
			Ver mais
		</a>
	</div>
</section>

<section>
	<section class="corretores" id="corretores">
		<div class="container">
			<h1 class="title white">
				Nossos corretores
			</h1>
			<div class="row">
				<div class="owl-carousel owl-theme" id="owl-corretores">
					{% for x in range(6) %}
					<div class="item">
						<div class="header">
							<img class="img-bg" src="../static/img/casa-ex.jpg">
							<h2>Pedro Gois</h2>
							<h3>Corretor</h3>
						</div>
						<div class="content">
							<div class="social">
								<a href="" target="_blank"><i class="fab fa-facebook-f"></i></a>
								<a href="" target="_blank"><i class="fab fa-instagram"></i></a>
								<a href="" target="_blank"><i class="fab fa-twitter"></i></a>
								<a href="" target="_blank"><i class="fab fa-linkedin-in"></i></a>
							</div>
							<a class="see-more" href="">Ver imóveis <i class="fas fa-long-arrow-alt-right"></i></a>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>

	<section class="procurar-corretor">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-10 content">
					<p>ESTÁ ATRAS DE ANUNCIAR UM IMOVEL MAS NÃO TEM COMRRETOR? PROCURE UM DOS NOSSOS</p>
					<p>[texto generico]
					</p>
				</div>
			</div>
		</div>
	</section>
</section>

<section class="imoveis venda" id="aluguel">
	<div class="container-fluid">
		<h2>Imóveis para venda</h2>
		<div class="row">
			<div class="owl-carousel owl-theme owl-imoveis">
				{% for x in range(12) %}
				<a href="">
					<div class="imovel-item card">
						<div class="header">
							<div class="property-tags">
								<span class="tag mr-auto">Propietário</span>
								<span class="tag">Pronto para morar</span>
								<span class="tag">Apartamento</span>
							</div>
							<img class="w-100" src="../static/img/casa-ex.jpg">
						</div>
						<div class="content">
							<h3>APTO Belo Oceano</h3>
							<p class="adress">Rua Florença, 001, Ponta Negra - Condominio Residencial Belo Oceano</p>
							<ul>
								<li><i class="fas fa-bed-alt"></i>3</li>
								<li><i class="fas fa-shower"></i>4</li>
								<li><i class="fas fa-car"></i>2</li>
								<li><i class="fas fa-pencil-ruler"></i>185 m²</li>
							</ul>
							<button class="details-btn" href="">Detalhes</button>
						</div>
					</div>
				</a>
				{% endfor %}
			</div>
		</div>
	</div>
</section>

<section class="imoveis aluguel">
	<div class="container-fluid">
		<h2>Imóveis para alugar</h2>
		<div class="row">
			<div class="owl-carousel owl-theme owl-imoveis">
				{% for x in range(12) %}
				<a href="">
					<div class="imovel-item card">
						<div class="header">
							<div class="property-tags">
								<span class="tag mr-auto">Propietário</span>
								<span class="tag">Pronto para morar</span>
								<span class="tag">Apartamento</span>
							</div>
							<img class="w-100" src="../static/img/casa-ex.jpg">
						</div>
						<div class="content">
							<h3>APTO Belo Oceano</h3>
							<p class="adress">Rua Florença, 001, Ponta Negra - Condominio Residencial Belo Oceano</p>
							<ul>
								<li><i class="fas fa-bed-alt"></i>3</li>
								<li><i class="fas fa-shower"></i>4</li>
								<li><i class="fas fa-car"></i>2</li>
								<li><i class="fas fa-pencil-ruler"></i>185 m²</li>
							</ul>
							<button class="details-btn" href="">Detalhes</button>
						</div>
					</div>
				</a>
				{% endfor %}
			</div>
		</div>
	</div>
</section>

{% include 'components/footer.html' %}