{% include 'components/head.html' %}
{% include 'components/header.html' %}

<section class="banner" id="slogan-banner">
	<div class="owl-carousel owl-theme" id="owl-banner">
		<img src="../static/img/casa1.png">
		<img src="../static/img/casa2.jpg">
		<img src="../static/img/casa3.jpg">
	</div>
	<div class="container">
		<div class="row justify-content-center">
			<div class="banner-slogan col-12 col-md-10 col-lg-9">
				<div class="text-center">
					<h1>Sua busca começa e termina aqui!</h1>
					<div class="line"></div>
					<p>Pesquise aqui o seu imóvel</p>
				</div>
			</div>
			<div class="banner-form col-12 col-lg-9 mt-4">
				<form class="row">
					<div class="col col-12 col-md-3">
						<select>
							<option value="1">Comprar</option>
							<option value="2">Alugar</option>
						</select>
					</div>
					<div class="col col-12 col-md-3">
						<select>
							<option>Bairro</option>
							{% for bairro in bairros %}
							<option value="1">{{ bairro }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col col-12 col-md-3">
						<select>
							<option>Valor</option>
							<option value="1">R$ 100.000 - R$ 200.000</option>
							<option value="1">R$ 200.000 - R$ 300.000</option>
							<option value="1">R$ 400.000 - R$ 500.000</option>
							<option value="1">R$ 600.000 - R$ 700.000</option>
							<option value="1">R$ 800.000 - R$ 900.000</option>
							<option value="1">R$ 1.000.000 - R$ 2.000.000</option>
							<option value="1">R$ 2.000.000 - R$ 3.000.000</option>
							<option value="1">R$ 4.000.000 - R$ 5.000.000</option>
							<option value="1">R$ 5.000.000 +</option>
						</select>
					</div>
					<div class="col col-12 col-md-3">
						<button class="btn btn-base">
							<i class="fa fa-search"></i>
							Pesquisar
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!--<div class="mouse"></div>-->
</section>

<section class="imoveis" id="imoveis">
	<div class="container">
		<h1 class="title">
			Imóveis em destaque
		</h1>
		<div class="row">
			<div class="owl-carousel owl-theme owl-imoveis">
				{% for imovel in imoveis %}
				<div class="imovel">
					<a href="imovel/{{ imovel['_id'] }}">
						<img class="img-bg" src="../static/img/casa-ex.jpg">
						<div class="content">
							<h2 class="state">Pronto para morar</h2>
							<div class="details">
								<img class="owner" src="../static/img/casa-ex.jpg">
								<div>
									<h3>{{ imovel['corretor_nome'] }}</h3>
									<h3>{{ imovel['bairro'] }}</h3>
								</div>
								<i class="acess-btn far fa-arrow-alt-circle-right"></i>
							</div>
							<div class="details">
								<h3 class="price">R$ {{ imovel['valor'] }}</h3>
								<ul>
									<li><i class="fas fa-toilet"></i>{{ imovel['banheiros'] }}</li>
									<li><i class="fas fa-bed"></i>{{ imovel['quartos'] }}</li>
									<li><i class="fas fa-pencil-ruler"></i>{{ imovel['tamanho'] }} m²</li>
								</ul>
							</div>
						</div>
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>

{% include 'components/footer.html' %}