<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="content-language" content="pt-br">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Imóveis Natal" />
    <meta name="keywords" content="" />
    <meta name="robots" content="index,follow,noodp">
    <meta name="googlebot" content="index,follow">
    <meta name="subject" content="Imóveis Natal">
    <meta name="abstract" content="Imóveis Natal">
    <meta name="topic" content="Imóveis Natal">
    <meta name="summary" content="Imóveis Natal">
    <meta property="og:url" content="">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Imóveis Natal">
    <meta property="og:image" content="../static/img/favicon.ico">
    <meta property="og:description" content="Imóveis Natal">
    <meta property="og:site_name" content="Imóveis Natal">
    <meta property="og:locale" content="pt_BR">
    <meta itemprop="name" content="Imóveis Natal">
    <meta itemprop="description" content="Imóveis Natal">
    <meta itemprop="image" content="../static/img/favicon.ico">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:url" content="">
    <meta name="twitter:title" content="Imóveis Natal">
    <meta name="twitter:description" content="Imóveis Natal">
    <meta name="twitter:image" content="../static/img/favicon.ico">
    <meta name="msapplication-TileColor" content="#3eb0ee">
    <meta name="theme-color" content="#3eb0ee">

    <title>Imóveis Natal</title>
    <link rel="shortcut icon" type="image/png" href="../static/img/favicon.png" />

    <link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/vendor/lightbox/lightbox.min.css">
    <link rel="stylesheet" type="text/css" href="../static/vendor\fontawesome/css/all.css" >
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">

    <link rel="stylesheet" type="text/css" href="../static/vendor/owl-carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="../static/vendor/owl-carousel/assets/owl.theme.default.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- jQuery 1.8 or later, 33 KB -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Fotorama from CDNJS, 19 KB -->
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>

</head>

<!-- Modal -->
<div class="modal fade p-0" id="ModalPesquisar" tabindex="-1" role="dialog" aria-labelledby="ModalPesquisar" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<body>

    <div id="preloader">
        <div class="inner">
            <div class="pulsex">
                <img src="../static/img/logo-white2.png">
            </div>
        </div>
    </div>