<header>
    <nav class="container navbar navbar-expand-md">
        <a class="navbar-brand" href="index.php">
            <img src="../static/img/logo-horizontal-white.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <svg width="27" height="18" viewBox="0 0 27 18" fill="none" xmlns="http://www.w3.org/2000/svg"><rect y="7" width="22" height="4" rx="1" fill="#69F2F8"/><rect width="27" height="4" rx="1" fill="#69F2F8"/><rect y="14" width="19" height="4" rx="1" fill="#69F2F8"/></svg>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="w-100 navbar-nav ml-auto scroll">
                <li class="nav-item">
                    <a class="nav-link" href="index.php#como_funciona">Compra</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.php#vantagens">Aluguel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="planos.php">Lançamentos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.php#contato">Fale Conosco</a>
                </li>
            </ul>
        </div>
    </nav>
</header>